# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*
.yarn/
.pnpm-store/

# logi

**/*.log

# Inne ciężkie / zbędne
*.odt
.DS_Store
data/
kb/
# Playwright debug artifacts
debug_*.html
debug_*.png
# lokalne zrzuty/notatki
zzz_descriptions/
output/
