qdrant-client>=1.15.1
sentence-transformers>=3.0.0
scikit-learn>=1.5.0
numpy
tqdm
joblib
python-dotenv
pytest
pytest-mock
langdetect
deep-translator
pytest-cov
jsonschema
PyYAML==6.0.1
esprima==4.0.1
escodegen==1.0.11
-e .
pytest-playwright
beautifulsoup4